<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddLive OSX Tutorials.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tutorial2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Tutorial3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tutorial4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F282F8E718415B9E00D53D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F282F90818415B9E00D53D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F282F9B7184169CB00D53D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F282F9D1184169CB00D53D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F282F9FC18417AD400D53D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F282FA1618417AD400D53D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F282FA371841806200D53D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F282FA511841806200D53D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
